<div id="carouselControls" class="carousel slide  " style="background-color: grey;" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselControls" 
        *ngFor="let c of componentes | async; let i = index" 
        [class.active]="i === 0" 
        [attr.data-slide-to] = "i">
    </li>
  </ol>
  <div class="carousel-inner"  >
    <div class="carousel-item" 
        *ngFor="let c of componentes | async ; let i = index" [class.active]="i === 0" >
      <div class="carousel-img" 
        [style]=" pathCarousel + c.urlToImage | domSanitizer : getMinHeightCarousel() " ></div>
      <div class="carousel-div-header">
        <ion-label class="carousel-lbl-header">{{ c.title }}</ion-label>
        <br>
        <div class="text-center w-100">
          <ion-label class="carousel-lbl-subheader">{{ c.subtitle }}</ion-label>
        </div>
      </div>
      <div class="carousel-caption d-md-block" *ngIf="c.isButtonToRef">
        <a [routerLink]="c.urlToRef">
          <button type="button" class="btn btn-tecno"
            [ngClass] = "{ 'btn-lg' : !isMobileResolution, 'btn-sm' : isMobileResolution}">Saber más</button>
        </a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>