.producto-more{
    font-size: 25x !important;
    position: absolute;
    right: -25px;
    top: -18px;
}

.div-producto-image {
    height: 180px;
    background-color: white;
}

.producto-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.producto-content {
    max-height: 100px;
    min-height: 100px;
    height: 100px;
}

.text-title {
    font-size: small;
}