<ion-card color="tecno" class="animated fadeIn fast" >
  <ion-card-header class="p-2">
    <ion-card-subtitle class="text-center">
      <span  >{{ producto.codigo }}</span>
      <br>
      <div class="div-producto-subcategoria" *ngIf="isSearchPage">
        <div style=" display: inline-flex ">
          <a class="a-producto-subcategoria" 
            [routerLink] = "'/productos/' + producto.categoria +'/' + producto.subcategoria">
            {{ producto.nombreSubcategoria }}
          </a>
        </div>
        <ion-img class="expand-img" src="/assets/custom-icons/expand white.png" *ngIf="isSearchPage && isMobileResolution "></ion-img>
      </div>
    </ion-card-subtitle>
  </ion-card-header>
  <div class="div-producto-image">
    <ion-img  
              [src]="'assets/images/productos/' + producto.categoria + '/' + producto.subcategoria + '/' + producto.urlToImage"
              class="producto-image "></ion-img>  
  </div>
  <div class="div-producto-pdf">
    <a class="small a-producto-pdf" 
      *ngIf="producto.urlToFichaTecnica != ''"
      (click) = "downloadFicha('assets/pdf/productos/' + producto.categoria + '/' + producto.subcategoria + '/' + producto.urlToFichaTecnica, producto.codigo.toUpperCase() + ' ' + producto.subcategoria.toUpperCase())">
      DESCARGAR FICHA TÉCNICA
    </a>
  </div>
  <ion-card-content class="producto-content">
    <p class="ion-text-center" [ngStyle] = "{'font-size.px': producto.descripcion.length > 135 ? 13 : 14}">{{ producto.descripcion }}</p>
    
  </ion-card-content>
</ion-card>


