.producto-more{
    font-size: 25x !important;
    position: absolute;
    right: -35px;
    top: -12px;
}

.div-producto-image {
    height: 180px;
    background-color: white;
}

.div-producto-pdf {
    text-align: center;
    background-color: white;
    min-height: 21px;
    max-height: 21px;
}

.div-producto-subcategoria {
    text-align: center;
    min-height: 21px;
    max-height: 21px;
}

.a-producto-pdf {
    color: #569462;
}

.a-producto-subcategoria {
    color: white;
    font-size: 90%;
}

.a-producto-pdf:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #569462;
}

.a-producto-subcategoria:hover {
    text-decoration: underline;
    cursor: pointer;
}

.producto-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.producto-content {
    max-height: 100px;
    min-height: 100px;
    height: 100px;
    padding: 2%;
}


.text-title {
    font-size: small;
}

.producto-subcategoria {
    font-size: small;
}

.expand-img {
    max-height: 4%;
    max-width: 4%;
    position: relative;
    top: 1px;
    left: 5px;
    display: inline-flex;
}
