.content-center{
    display: -webkit-box;
    justify-content: center;
    align-items: center;
}

.title-servicios {
    font-family:'Arial Black', Gadget, sans-serif; 
    color: #569462;
}

.title-servicios-desktop {
    font-size: xx-large;
}

.title-servicios-mobile {
    font-size: medium;
}

.img-servicios-desktop {
    height: 250px;
}

.img-servicios-mobile {
    height: 120px;
}


.grid-servicios-desktop {
    width: 70vw;
}

.grid-servicios-mobile {
    width: 90vw;
}

.producto-image {
    max-height: 18vh;
    min-height: 18vh;
    width: 100%;    
    background-color: white;
}

.expand-container {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    background-color: rgba(159, 159, 159, 0);
    -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.expand-container:hover {
    cursor: pointer;
    background-color: rgba(159, 159, 159, 0.5);
    background-image: url('/assets/custom-icons/expand white.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.expand-content-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.expand-img {
    max-height: 5%;
    max-width: 5%;
    position: relative;
    top: 1px;
    left: 5px;
    display: inline-flex;
}