ion-item:hover {
    --background: #569462;
    cursor: pointer;
    color: white !important;
  }

.service-item-selected {
    color: #569462;
}

.segment-servicios {
  position: sticky;
  top: -2px;
  z-index: 1;
  background-color: white;
}