<app-header titulo="Servicios"></app-header>


<ion-content color="white">
    <!-- Mobile Version-->
    <div *ngIf="isMobileResolution" >
        <ion-segment  scrollable 
            class="segment-servicios"            
            mode="md" 
            color="tecno"
            (ionChange)="cargarServicio('', $event )"> 
        <ion-segment-button *ngFor="let servicioItem of servicios" [value]="servicioItem">
          <ion-label class="ion-text-capitalize">{{ servicioItem.text }}</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div  class="container animate__animated animate__fadeInUp pl-2 mt-2 mb-5" 
            *ngIf="subservicios.length > 0 || itemSelected == ''">
        <app-servicio-view  [servicioSelected] = itemSelected 
                            [subservicios] = subservicios
                            (sendSubservicio) = "getSubServicio($event)"
                            ></app-servicio-view>
      </div>
    </div>

    <!-- Desktop Version -->
    <div class="container ml-3 mr-3 mt-3 " *ngIf="!isMobileResolution">
        
        <ion-grid fixed class="ml-4 mr-4"  >
            <ion-row >
                <ion-col size="3" >
                    <ion-list >
                        <ion-item   detail 
                                    *ngFor="let servicioItem of servicios"
                                    [lines] = 'servicioItem.lines' 
                                    [id]="servicioItem.id"
                                    [ngClass] = "{ 'service-item-selected' : itemSelected == servicioItem.id }"
                                    (click)="cargarServicio(servicioItem.id)" > 
                            <ion-label  class="mt-3 mb-3 pt-2 pb-2" >
                                {{ servicioItem.text }}
                            </ion-label>
                        </ion-item>
                      </ion-list>
                </ion-col>
                <ion-col    size="9" class="animate__animated animate__fadeInRight" id = compServicios 
                            *ngIf="subservicios.length > 0 || itemSelected == ''">
                    <app-servicio-view  [servicioSelected] = itemSelected [subservicios] = subservicios
                        (sendSubservicio) = "getSubServicio($event)"
                                        ></app-servicio-view>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

     <!-- Modal -->
  <div class="modal fade" id="serviciosDetailsModal">
    <div class="modal-dialog" style="margin: auto 15%" [style.margin] = " isMobileResolution ? 'auto 5%' : 'auto 15%' ">
      <!-- Modal content-->
      <div class="modal-content mt-5 mb-3" [style.width] = " isMobileResolution ? '90vw' : '70vw' ">
        <div class="modal-header p-1" >
          <a class="closeModal" data-dismiss="modal" >&times;</a>
          <h4 class="modal-title">{{ subservicioSelected.nombre }}</h4>
          <ion-card-subtitle class="text-center">
            <div style=" display: inline-flex ">
                {{ subservicioSelected.nombreParent }}
            </div>
          </ion-card-subtitle>
        </div>
        <div class="modal-body p-0">
          <app-servicio-carousel *ngIf="subservicioSelected.carouselImages && subservicioSelected.carouselImages.length > 0" 
              [carouselImages] = subservicioSelected.carouselImages 
              [servicio] = subservicioSelected.idServicioParent 
              [subservicio] = subservicioSelected.id ></app-servicio-carousel>
          <div class="p-3 text-justify">
            <p> {{ subservicioSelected.description }}</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</ion-content>
<ion-footer>
    <app-contact-fab></app-contact-fab>
</ion-footer>
