<app-header titulo="Tecno Eléctrica Potosí" ></app-header>

<ion-content>
  
  <app-banner-header [urlImage] = "urlImage" ></app-banner-header>
  <div class="container ">
    
    <ion-grid>
      
      <ion-row class="animate__animated animate__fadeInUp ">
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/cable.jpg">
            </a>
          </ion-card>
          
        </ion-col>
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/tableros.jpg">
            </a>
          </ion-card>
          
        </ion-col>
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/cable.jpg">
            </a>
          </ion-card>
          
        </ion-col>
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/tableros.jpg">
            </a>
          </ion-card>
          
        </ion-col>
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/cable.jpg">
            </a>
          </ion-card>
          
        </ion-col>
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/tableros.jpg">
            </a>
          </ion-card>
          
        </ion-col>
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/cable.jpg">
            </a>
          </ion-card>
          
        </ion-col>
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/tableros.jpg">
            </a>
          </ion-card>
          
        </ion-col>
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/cable.jpg">
            </a>
          </ion-card>
          
        </ion-col>
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/tableros.jpg">
            </a>
          </ion-card>
          
        </ion-col>
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/cable.jpg">
            </a>
          </ion-card>
          
        </ion-col>
        <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0">
          <ion-card color="tecno" class="animated fadeIn fast" routerLink="/search">
            
            <a >
              <img class="producto-image img-responsive" src="/assets/images/categorias/tableros.jpg">
            </a>
          </ion-card>
          
        </ion-col>
      </ion-row>
      

      
    </ion-grid>
  </div>
</ion-content>
