

.title-home {
    font-family:'Arial Black', Gadget, sans-serif; 
}

.title-home-desktop {
    font-size: xx-large;
}

.title-home-mobile {
    font-size: medium;
}

.feature-desktop-img-home {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
}

.feature-mobile-img-home {
    max-width: 80px;
    max-height: 80px;
    margin: auto;
}


.feature-lbl-home {
    font-family:'Arial', Gadget, sans-serif; 
    margin: auto;
    text-align: center;
}

.feature-mobile-lbl-home {
    font-size: small;
}

.feature-lbl-home {
    font-family:'Arial', Gadget, sans-serif; 
    margin: auto;
    text-align: center;
}

.feature-mobile-lbl-home {
    font-size: small;
}

.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-title-desktop {
    font-family:'Arial Black', Gadget, sans-serif; 
    font-size: x-large;
}

.feature-title-mobile {
    font-family:'Arial Black', Gadget, sans-serif; 
    font-size: large;
}