
.title-home {
    font-family:'Arial Black', Gadget, sans-serif; 
    text-align: center;
}

.feature-desktop-img-home {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.feature-mobile-img-home {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}


.feature-lbl-home {
    font-family:'Arial', Gadget, sans-serif; 
    margin: auto;
    text-align: center;
}

.feature-mobile-lbl-home {
    font-size: small;
}

.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}