
.searchText {
    color: #838383;
    margin-top: 0.5%;
    float: left;
}


.orderText {
    float: right;
    margin-top: 0.5%;
    margin-right: 1%;
    color: #838383;
}

.select-order {
    float: right;
    width: 20%;
}

.select-order:hover {
    border-color: #569462;
}

.headerOptions {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}

.productosContainer {
    margin-top: 5%;
}