 
<ion-grid fixed color="light"  *ngIf="productos.length > 0" class="animate__animated animate__fadeInUp">
  <ion-row>
    <ion-col  size = "12" size-lg="3" size-md="4" size-sm="6" size-xs="12" 
              *ngFor="let producto of productos | searchFilter: searchValue  | infiniteScrollProducts: pageShown : searchValue">
      <app-producto [producto] = "producto" isSearchPage = true ></app-producto>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-infinite-scroll threshold="15px"  (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando más productos...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>