<app-header titulo="Tecno Eléctrica Potosí" ></app-header>

<ion-content color="white">
  <div *ngIf="categoriaItem">
    <app-banner-header></app-banner-header>
    <div class="mt-3 section-categoria" *ngIf="categoriaItem"
        [ngClass] = "{'ml-3' : isMobileResolution, 'pl-5': !isMobileResolution}">
    <a routerLink="/productos" class="navigationText">
      <ion-label  >Productos</ion-label>
    </a> 
    <ion-label style="color:darkgrey" > / </ion-label>
    <a [routerLink]="'/productos/' + categoriaItem.id" class="navigationText">
      <ion-label class="navigationText">{{ categoriaItem.nombre }}</ion-label>
    </a> 
  </div>
    <div class="container mb-5 pb-1">
      <ion-grid *ngIf="categoriaItem.subcategorias">
        
        <ion-row class="animate__animated animate__fadeInUp ">
          <ion-col  size = "12" size-lg="4" size-md="6" size-sm="12" size-xs="12" class="p-0"
                    *ngFor="let subcategoria of categoriaItem.subcategorias">
            <ion-card color="tecno" class="animated fadeIn fast" 
                      [routerLink]="'/productos/' + categoriaItem.id + '/' + subcategoria.id">
              <div class="card-img-container">
                <img  class="producto-image img-responsive" 
                      [src]="categoriasUrl + categoriaItem.id + '/subcategorias/' + subcategoria.urlToImageCard">
                <div class="card-text-container">{{ subcategoria.nombre }}</div>
              </div>
              <a >
              </a>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>  
  
</ion-content>
<ion-footer>
  <app-contact-fab></app-contact-fab>
</ion-footer>
