
.tepsa-icon {
    font-size: 64px !important;
    padding: 0 !important;
}

.navbar-menu-color {
    background-color: #F6F6F6;
}

.nav-link.active {
    color: #569462 !important;
    font-weight: 550;
}

.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #569462 !important;
    font-weight: 550;
}