<app-header titulo="Contáctanos"></app-header>


<ion-content color="white">

    <!-- Mobile Version -->
    <div class="container pl-1 pr-1" *ngIf="isMobileResolution">
        <ion-grid class="mt-3 animate__animated animate__fadeInUp p-0">
            <ion-row>
            <ion-col  size = "12" class="pb-0 pl-0 pr-0 pt-2 content-center">
                <h3>
                    <b>¡Contáctanos!</b>
                </h3>
            </ion-col>
            </ion-row>
            <ion-row class="mt-2 ">
                <ion-col  size = "12" class="p-0 pr-3">
                    
                    <ion-item > 
                        <ion-grid fixed>
                            <ion-row>
                                <ion-col size="1" class="p-0">
                                    <ion-icon size="default" name="time" class="d-inline-block " ></ion-icon>
                                </ion-col>
                                <ion-col size="11" class="p-0">
                                    <ion-grid fixed class="p-0">
                                        <ion-row>
                                            <ion-col size="6" class="p-0">
                                                <ion-label class="d-inline-block ion-text-wrap">
                                                    Lunes a Viernes
                                                </ion-label>
                                            </ion-col>
                                            <ion-col size="6" class="p-0"> 
                                                <ion-label class="d-inline-block ion-text-wrap">
                                                    08:00 a 18:00 hrs.
                                                </ion-label>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col size="6" class="p-0">
                                                <ion-label class="d-inline-block ion-text-wrap">
                                                    Sábado
                                                </ion-label>
                                            </ion-col>
                                            <ion-col size="6" class="p-0"> 
                                                <ion-label class="d-inline-block  ion-text-wrap">
                                                    08:00 a 14:00 hrs.
                                                </ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>

                    <ion-item > 
                        <ion-grid fixed>
                            <ion-row>
                                <ion-col size="1" >
                                    <ion-icon size="default" name="call" class="d-inline-block " ></ion-icon>
                                </ion-col>
                                <ion-col size="11">
                                    <ion-label class="d-inline-block text-justify ion-text-wrap">44 48 22 24 90 con 10 líneas</ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item class="ion-text-wrap"> 
                        <ion-grid fixed>
                            <ion-row>
                                <ion-col size="1" >
                                    <ion-icon size="default" name="logo-whatsapp" class="d-inline-block " ></ion-icon>
                                </ion-col>
                                <ion-col size="11">
                                    <ion-label class="d-inline-block text-justify ion-text-wrap">44 42 18 37 69</ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item class="ion-text-wrap"> 
                        <ion-grid fixed>
                            <ion-row>
                                <ion-col size="1" >
                                    <ion-icon size="default" name="location" class="d-inline-block " ></ion-icon>
                                </ion-col>
                                <ion-col size="11">
                                    <ion-label class="d-inline-block text-justify ion-text-wrap">
                                        Av. Dr. Salvador Nava #456 
                                    </ion-label><br />
                                    <ion-label class="d-inline-block text-justify ion-text-wrap">
                                        Fracc. Nuevo Paseo C.P. 78328
                                    </ion-label><br />
                                    <ion-label class="d-inline-block text-justify ion-text-wrap">
                                        San Luis Potosí, San Luis Potosí 
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-col>
                <ion-col  size = "12" >
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3695.605006386669!2d-100.95912905011271!3d22.141030954182266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842aa23d4097e83d%3A0xf4035baf286cd95d!2sTecno%20El%C3%A9ctrica%20Potos%C3%AD%2C%20S.A.%20de%20C.V.!5e0!3m2!1ses-419!2smx!4v1590080042732!5m2!1ses-419!2smx" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div  class="mt-3 animate__animated animate__fadeInUp animate__delay-1s">
            <h6 class="text-center">
                <b>También puedes enviarnos un correo y nos ponemos en contacto contigo</b>
            </h6>
            <!-- Formulario de contacto Mobile -->
            <form [formGroup]="contactoForm"  mode="md" class="pl-5 ml-2">
                <ion-list lines="full" class="ion-no-margin ion-no-padding" mode="md">
                    <ion-item mode="md"> 
                        <ion-label position="stacked">Nombre Completo <ion-text color="danger">*</ion-text></ion-label>
                        <ion-input autocomplete="off" formControlName = "nombre"  mode="md" required type="text" ></ion-input>
                    </ion-item>
                    <div class="text-center text-danger" style="height:20px">
                        <small *ngIf="contactoForm?.get('nombre').touched && contactoForm?.get('nombre').invalid">
                            El nombre es obligatorio
                        </small>
                    </div>
                    <ion-item>
                        <ion-label position="stacked">Correo Electrónico <ion-text color="danger">*</ion-text></ion-label>
                        <ion-input autocomplete="off" formControlName = "correo"  required type="email" ></ion-input>
                    </ion-item>
                    <div class="text-center text-danger" style="height:20px">
                        <div *ngIf="contactoForm?.get('correo').errors && (contactoForm?.get('correo').invalid && contactoForm?.get('correo').touched)">
                            <small class="text-danger" *ngIf="contactoForm?.get('correo').errors.required">El correo es obligatorio</small>
                            <small class="text-danger" *ngIf="contactoForm?.get('correo').errors.email">El correo no tiene el formato correcto</small>
                        </div>
                    </div>
                    <ion-item>
                        <ion-label position="stacked">Telefono a 10 dígitos<ion-text color="danger">*</ion-text></ion-label>
                        <ion-input autocomplete="off" formControlName = "telefono" required type="text" ></ion-input>
                    </ion-item>
                    <div class="text-center text-danger" style="height:20px">
                        <div *ngIf="contactoForm?.get('telefono').errors && (contactoForm?.get('telefono').invalid && contactoForm?.get('telefono').touched)">
                            <small class="text-danger" *ngIf="contactoForm?.get('telefono').errors.required">El teléfono es obligatorio</small>
                            <small class="text-danger" *ngIf="contactoForm?.get('telefono').errors.minlength">El teléfono debe contener 10 dígitos</small>
                        </div>
                    </div>
                    <ion-item>
                        <ion-label position="stacked">Empresa<ion-text color="danger">*</ion-text></ion-label>
                        <ion-input autocomplete="off" formControlName = "empresa"  type="text" ></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Estado<ion-text color="danger">*</ion-text></ion-label>
                        <ion-select autocomplete="off" formControlName = "estado" value="estado">
                            <ion-select-option [value]="estado.value" *ngFor="let estado of estados">{{ estado.text }}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div class="text-center text-danger" style="height:20px">
                        <div *ngIf="contactoForm?.get('estado').errors && (contactoForm?.get('estado').invalid && contactoForm?.get('estado').touched)">
                            <small class="text-danger" *ngIf="contactoForm?.get('estado').errors.required">Debe seleccionar un estado</small>
                        </div>
                    </div>
                    <ion-item>
                        <ion-label position="stacked">Mensaje<ion-text color="danger">*</ion-text></ion-label>
                        <ion-textarea autocomplete="off" formControlName = "mensaje"  rows="6" cols="20" ></ion-textarea>
                    </ion-item>
                    <div class="text-center text-danger" style="height:20px">
                    <small *ngIf="contactoForm?.get('mensaje').touched && contactoForm?.get('mensaje').invalid">
                        El mensaje es obligatorio
                    </small>
                    </div>
                </ion-list>
                <div class="text-center mb-4" style="height: 35px; width: 90%; margin: auto">
                    <ion-button type="submit" expand="full" fill="solid" shape="round" color="tecno" class="btnSubmit"
                         (click)="sendMail(contactoForm)" *ngIf="sendStatus === 'unsend'"  [disabled] = "!contactoForm.valid">
                        <ion-text >
                            Enviar
                        </ion-text>
                    </ion-button>
                    <ion-spinner name="lines" style="margin: auto" *ngIf="sendStatus === 'sending'"></ion-spinner>
                    <ion-text color="tecno" class="animate__animated animate__fadeInUp" style="font-size: small;"
                        *ngIf="sendStatus === 'sent'">
                        ¡Tu mensaje se ha enviado correctamente y serás contactado a la brevedad!
                    </ion-text>
                </div>
            </form>
                            
                            
        </div>
    </div>
    <!-- Desktop Version -->
    <div class="container" *ngIf="!isMobileResolution">
        <ion-grid class="mt-3 animate__animated animate__fadeInUp ">
            <ion-row>
            <ion-col  size = "12" class="pb-0 pl-0 pr-0 pt-2 content-center">
                <h3>
                    <b>¡Contáctanos!</b>
                </h3>
            </ion-col>
            </ion-row>
            <ion-row class="mt-2 ">
                <ion-col  size = "5" class="p-0 pr-3">
                    
                    <ion-item > 
                        <ion-grid fixed>
                            <ion-row>
                                <ion-col size="2" >
                                    <ion-icon size="large" name="time" class="d-inline-block " ></ion-icon>
                                </ion-col>
                                <ion-col size="10">
                                    <ion-grid fixed class="p-0">
                                        <ion-row>
                                            <ion-col size="6" class="p-0">
                                                <ion-label class="d-inline-block ion-text-wrap">
                                                    Lunes a Viernes
                                                </ion-label>
                                            </ion-col>
                                            <ion-col size="6" class="p-0"> 
                                                <ion-label class="d-inline-block  ion-text-wrap">
                                                    08:00 a 18:00 hrs.
                                                </ion-label>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col size="6" class="p-0">
                                                <ion-label class="d-inline-block ion-text-wrap">
                                                    Sábado
                                                </ion-label>
                                            </ion-col>
                                            <ion-col size="6" class="p-0"> 
                                                <ion-label class="d-inline-block ion-text-wrap">
                                                    08:00 a 14:00 hrs.
                                                </ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>

                    <ion-item > 
                        <ion-grid fixed>
                            <ion-row>
                                <ion-col size="2" >
                                    <ion-icon size="large" name="call" class="d-inline-block " ></ion-icon>
                                </ion-col>
                                <ion-col size="10">
                                    <ion-label>44 48 22 24 90 con 10 líneas</ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item > 
                        <ion-grid fixed>
                            <ion-row>
                                <ion-col size="2" >
                                    <ion-icon size="large" name="logo-whatsapp" class="d-inline-block " ></ion-icon>
                                </ion-col>
                                <ion-col size="10">
                                    <ion-label>44 42 18 37 69</ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item class="ion-text-wrap"> 
                        <ion-grid fixed>
                            <ion-row>
                                <ion-col size="2" >
                                    <ion-icon size="large" name="location" class="d-inline-block " ></ion-icon>
                                </ion-col>
                                <ion-col size="10">
                                    <ion-label class="d-inline-block text-justify ion-text-wrap">
                                        Av. Doctor Salvador Nava Martinez #456 
                                    </ion-label>
                                    <ion-label class="d-inline-block text-justify ion-text-wrap">
                                        Fracc. Nuevo Paseo C.P. 78328
                                    </ion-label>
                                    <ion-label class="d-inline-block text-justify ion-text-wrap">
                                        San Luis Potosí, San Luis Potosí 
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-col>
                <ion-col  size = "7" class="" >
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3695.605006386669!2d-100.95912905011271!3d22.141030954182266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842aa23d4097e83d%3A0xf4035baf286cd95d!2sTecno%20El%C3%A9ctrica%20Potos%C3%AD%2C%20S.A.%20de%20C.V.!5e0!3m2!1ses-419!2smx!4v1590080042732!5m2!1ses-419!2smx" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="mt-3 animate__animated animate__fadeInUp animate__delay-1s">
            <ion-row>
                <ion-col  size = "12" class="pb-0 pl-0 pr-0 pt-2 content-center">
                    <h5>
                        <b>También puedes enviarnos un correo y nos ponemos en contacto contigo</b>
                    </h5>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="5" class="p-0 content-center">
                    <div class="p-5">
                        <ion-thumbnail class="thumbnail-resize p-2">
                            <img src="/assets/images/logo/icon tepsa.png">
                        </ion-thumbnail>
                    </div>
                </ion-col>
                <ion-col size="7">
                    <!-- Formulario de contacto Desktop -->
                    <form [formGroup]="contactoForm" >
                        <div class="form-group">
                            <label for="nombreContacto">Nombre Completo</label>
                            <input formControlName = "nombre" 
                                [class.is-invalid] = "contactoForm?.get('nombre').touched && contactoForm?.get('nombre').invalid"
                                [class.is-valid] = "contactoForm?.get('nombre').touched && !contactoForm?.get('nombre').invalid"
                                type="text" class="form-control" 
                                autocomplete="off"
                                id="nombreContacto" >
                                <small *ngIf="contactoForm?.get('nombre').touched && contactoForm?.get('nombre').invalid" class="text-danger">
                                    El nombre es obligatorio
                                </small>
                        </div>
                        <div class="form-group">
                            <label for="correoContacto">Correo electrónico</label>
                            <input formControlName = "correo" 
                                autocomplete="off"
                                [class.is-invalid] = "contactoForm?.get('correo').touched && contactoForm?.get('correo').invalid"
                                [class.is-valid] = "contactoForm?.get('correo').touched && !contactoForm?.get('correo').invalid"
                                type="email" 
                                class="form-control" id="correoContacto" >
                                <div *ngIf="contactoForm?.get('correo').errors && (contactoForm?.get('correo').invalid && contactoForm?.get('correo').touched)">
                                    <small class="text-danger" *ngIf="contactoForm?.get('correo').errors.required">El correo es obligatorio</small>
                                    <small class="text-danger" *ngIf="contactoForm?.get('correo').errors.email">El correo no tiene el formato correcto</small>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="telefonoContacto">Teléfono a 10 dígitos</label>
                            <input formControlName = "telefono" 
                                [class.is-invalid] = "contactoForm?.get('telefono').touched && contactoForm?.get('telefono').invalid"
                                [class.is-valid] = "contactoForm?.get('telefono').touched && !contactoForm?.get('telefono').invalid"
                                type="text" class="form-control" 
                                autocomplete="off"
                                id="telefonoContacto" >
                                <div *ngIf="contactoForm?.get('telefono').errors && (contactoForm?.get('telefono').invalid && contactoForm?.get('telefono').touched)">
                                    <small class="text-danger" *ngIf="contactoForm?.get('telefono').errors.required">El teléfono es obligatorio</small>
                                    <small class="text-danger" *ngIf="contactoForm?.get('telefono').errors.minlength">El teléfono debe contener 10 dígitos</small>
                                </div>
                          </div>
                        <div class="form-group">
                            {{ contactoForm?.get('empresa').value }}
                            <label for="empresaContacto">Empresa</label>
                            <input formControlName = "empresa" 
                            [class.is-valid] = "contactoForm?.get('empresa').value != '' && contactoForm?.get('empresa').touched && !contactoForm?.get('empresa').invalid"
                            autocomplete="off"
                            type="text" class="form-control" id="empresaContacto" >
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Estado</label>
                          <select formControlName = "estado" class="form-control" id="exampleFormControlSelect1" 
                          style="background-position: 97%;"
                          [class.is-invalid] = "contactoForm?.get('estado').touched && contactoForm?.get('estado').invalid"
                          [class.is-valid] = "contactoForm?.get('estado').touched && !contactoForm?.get('estado').invalid">
                            <option value="" disabled >Selecciona una opción...</option>
                            <option [value]="estado.value" *ngFor="let estado of estados">{{ estado.text }}</option>
                          </select>
                          <small *ngIf="contactoForm?.get('estado').touched && contactoForm?.get('estado').invalid" class="text-danger">
                            Debes seleccionar tu estado
                        </small>
                        </div>
                        <div class="form-group">
                            <label for="mensajeContacto">Mensaje</label>
                            <textarea formControlName = "mensaje" 
                                [class.is-invalid] = "contactoForm?.get('mensaje').touched && contactoForm?.get('mensaje').invalid"
                                [class.is-valid] = "contactoForm?.get('mensaje').touched && !contactoForm?.get('mensaje').invalid"
                                class="form-control" id="mensajeContacto" 
                                autocomplete="off"
                                rows="4" style="resize: none !important"></textarea>
                                <small *ngIf="contactoForm?.get('mensaje').touched && contactoForm?.get('mensaje').invalid" class="text-danger">
                                    El mensaje es obligatorio
                                </small>
                        </div>
                        <div class="text-center mb-4" style="height: 30px;">
                            <ion-button type="submit" expand="full" fill="solid" shape="round" color="tecno" class="btnSubmit"
                                 (click)="sendMail(contactoForm)" *ngIf="sendStatus === 'unsend'" [disabled] = "!contactoForm.valid"> 
                                <ion-text >
                                    Enviar
                                </ion-text>
                            </ion-button>
                            <ion-spinner name="lines" style="margin: auto" *ngIf="sendStatus === 'sending'"></ion-spinner>
                            <ion-text color="tecno" class="animate__animated animate__fadeInUp" style="font-size: large;"
                                *ngIf="sendStatus === 'sent'">
                                ¡Tu mensaje se ha enviado correctamente y serás contactado a la brevedad!
                            </ion-text>
                        </div>
                      </form>
                </ion-col>
                
                
            </ion-row>
        </ion-grid>
    </div>
</ion-content>

<ion-footer>
    <app-contact-fab></app-contact-fab>
</ion-footer>